In [ ]:
sc

In [ ]:
library(dplyr)
iris_tbl <- copy_to(sc, iris)

In [ ]:
src_tbls(sc)

In [ ]:
iris_tbl %>% count

In [ ]:
head(iris_tbl)

In [ ]:
iris_tbl %>% 
  mutate(Sepal_Width = ROUND(Sepal_Width * 2) / 2) %>% # Bucketizing Sepal_Width
  group_by(Species, Sepal_Width) %>% 
  summarize(count = n(), Sepal_Length = mean(Sepal_Length))